* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-image: url('https://images.unsplash.com/photo-1467810563316-b5476525c0f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80');
    background-repeat: round;
}

.wrapper {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 615px;
    width: 615px;
}
.header {
    margin: 0 0 40px 0;
}
.header__title {
    font-size: 60px;
}

.style1 {
    font-size: 50px;
    font-weight: bold;
}
.style2 {
    font-size: 22px;
    text-align: center;
}

.counter__row {
    display: flex;
    justify-content: space-around;
}